@import "_fonts";

$dark: #444;
$lite: #eee;
$brand: #5BA97E;

%trans {
	transition: 		0.2s all ease;
}

body {
	overflow: hidden;
	background: blue;
	background-image: url("../images/DVWEZ-delia.png");
	background-size:   cover;
	background-repeat:   no-repeat;
	min-height: 100vh;
	width: 100%;
}

nav {
	width: 60px;
}

header {
	width: 100%;
	margin-left: 20px;
	margin-top: 20px;
	flex: 0 1 auto;
	position: absolute;
	top: 0;

	button {
		height: 80px;
		width: 80px;
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	min-height: 100vh;
}

section {
	flex: 0 1 auto;
	text-align: center;
	width: 100%;
	align-self: flex-end;

	h1 {
		font-family: 'Bodoni 72 Book', sans-serif;
		line-height:   			1.65;
		font-size:          4.5rem;
		font-weight:        800;
		text-transform:     uppercase;
		letter-spacing:     3px;
	}

	a {
		@extend            %trans;
		align-self:        center;
		color:             $dark;
		line-height:       1;
		padding:           0 1rem;
		text-align:        center;
		text-decoration:   none;
		font-weight:       100;
		text-transform:     uppercase;
		letter-spacing:     3px;
		&:hover, &:focus {
			color:           $brand;
		}

		&:first-child {
			font-size:         1.5rem;
			font-weight:       800;
		}
	}
}

footer {
	flex: 0 1 auto;
	align-self: flex-end;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: right;
	margin-bottom: 20px;

	#dvwez-social {
		display: inline-flex;
		margin-right: 20px;

		li {
			margin-right: 20px;
		}
	}

}

small {
  font-size:               60%;
}

.menu {
  -webkit-transition: 0.1s transform linear;
  transition: 0.1s transform linear;
  position: relative;
  background: 0;
  float: left;
  margin: 2rem;
  height: 2.7rem;
  width: 3.5rem;
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
}

.bar, .bar::before, .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #000;
  margin: auto;
  width: 100%;
  height: 0.3rem;
  content: '';
  top: 50%;
  left: 0;
}
.bar {
  margin-top: -0.2rem;
}
.bar::before {
  top: -1.2rem;
}
.bar::after {
  top: 1.2rem;
}
.bar::before, .bar::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.active .bar {
  background: 0;
}
.active .bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.active .bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.active .bar::before, .active .bar::after {
  top: 0;
}
.active .bar, .active .bar::before, .active .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
}
header[role="banner"] nav[role="navigation"] a {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
